# Jin-Seob Kim

## Research question/interests
I am interested inlooking how the number of tracks released for different genres varied between different years..

In [31]:
#Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt

# Step One: Conducting an Exploratory Data Analysis

## Raw Data

Below are the top five rows of the dataset (raw) I am going to use as a preview.

In [32]:
tracks_raw = pd.read_csv("../data/raw/tracks.csv", low_memory=False)
tracks_raw.head()

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,NaN,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

## Basic Observation of Raw Data

In [33]:
tracks_shape = tracks_raw.shape
print(f"The dataset has {tracks_shape[0]} rows and {tracks_shape[1]} columns.")

The dataset has 106576 rows and 53 columns.

As you can see with the data displayed above, You can think of this dataframe as being split into three levels: categories (columns), sub-categories (row 0), and the values of the sub-categories (from row 1 onwards).

In [34]:
#The df.iloc[row_number] command prints each column and it's corresponding value according to the number of what row you input between the brackets. 
tracks_raw.iloc[0]

Unnamed: 0                  NaN
album                  comments
album.1            date_created
album.2           date_released
album.3                engineer
album.4               favorites
album.5                      id
album.6             information
album.7                 listens
album.8                producer
album.9                    tags
album.10                  title
album.11                 tracks
album.12                   type
artist        active_year_begin
artist.1        active_year_end
artist.2      associated_labels
artist.3                    bio
artist.4               comments
artist.5           date_created
artist.6              favorites
artist.7                     id
artist.8               latitude
artist.9               location
artist.10             longitude
artist.11               members
artist.12                  name
artist.13      related_projects
artist.14                  tags
artist.15               website
artist.16        wikipedia_page
set                       split
set.1                    subset
track                  bit_rate
track.1                comments
track.2                composer
track.3            date_created
track.4           date_recorded
track.5                duration
track.6               favorites
track.7               genre_top
track.8                  genres
track.9              genres_all
track.10            information
track.11               interest
track.12          language_code
track.13                license
track.14                listens
track.15               lyricist
track.16                 number
track.17              publisher
track.18                   tags
track.19                  title
Name: 0, dtype: object

Displayed above are the first two 'levels' I mentioned before. 
   - First level: various columns that are grouped to specific categories of the same names
       * The groups being album, artist, set, and track


   - Second level: categories belonging to each specific column group